.text-box {
  display: block;
	float: left;
	clear: left;
  border-width: 35px 20px 20px 20px;
  border-style: solid;
  box-sizing: border-box;
  /*padding: 35px 20px 20px 20px;*/
  border-image: url("./mac-frame-drkr.png") 30 40 22 22 fill repeat;
  border-image-width: 30px 40px 22px 22px;
  color: #fff;
  background: none;
  background-clip: content-box;
  position: relative;
  text-align: left;
  min-width: 200px;
  max-width: 100%;
  margin-bottom: 15px;
	left: 10px;
}
